# 什么值得买每日自动签到

^https?:\/\/user-api\.smzdm\.com\/checkin$ url script-request-header https://raw.githubusercontent.com/Zxcx1/ios_rule_script/refs/heads/master/script/smzdm/smzdm_daily.snippet
hostname = user-api.smzdm.com
